CREATE DATABASE Dekanat
GO

ALTER TABLE Students
	ADD CONSTRAINT FK_Groups 
		FOREIGN KEY (GroupName) REFERENCES Groups(GroupName)
		--ON DELETE CASCADE
		ON DELETE SET NULL 
		--ON DELETE SET DEFAULT
		ON UPDATE CASCADE --SET DEFAULT | SET NULL
GO

ALTER TABLE Schedule
	ADD CONSTRAINT FK_Schedule 
		FOREIGN KEY (TeacherId) REFERENCES Teachers (TeacherId)
		ON UPDATE CASCADE
		ON DELETE NO ACTION
GO

ALTER TABLE Journal
	ADD CONSTRAINT FK_Journal 
		FOREIGN KEY (RecordBookNumber) REFERENCES Students(RecordBookNumber)
			ON UPDATE CASCADE
			ON DELETE NO ACTION, --DON'T DELETE STUDENT, IF HE/SHE HAS MARKS
		CONSTRAINT FK_TimeSlot_RecordId 
		FOREIGN KEY (RecordId) REFERENCES Schedule (RecordId),
		CONSTRAINT FK_TopicNumber 
		FOREIGN KEY (TopicNumber) REFERENCES Topics (TopicNumber)
GO
